/* common shared styles */

body{
    font-family: 'Open Sans', sans-serif;
}

.btn-primary{
    background-color: darkorange;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.text-primary{
   color: darkorange;
}


/* nav related styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav>ul{
    display: flex;
    align-items: center;
}


nav li{
    list-style: none;
    margin-right: 10px;
    
}

nav li a{
    text-decoration: none;
    color: #474747;
}


/* header related styles */

.header{
    background-color: #FFF8F3;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner .profile-pic{
    width: 500px;
}

.banner .banner-content{
    
}